<a href="https://colab.research.google.com/github/Arcanaido/Arcanaido/blob/main/LeituraEstruturaArquivo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from datetime import date

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
df = spark.read.csv('clientes_tratados.csv')

In [ ]:
df.take(5)

[Row(nome='Arthur Montenegro', cpf='385.***.***-80', idade=29.0, data=datetime.date(1995, 8, 31), endereço='vereda isabela almeida, 8', bairro='pantanal', estado='ES'),
 Row(nome='Sra. Ágatha Cavalcanti', cpf='952.***.***-85', idade=43.0, data=datetime.date(1982, 6, 25), endereço='estrada de da luz', bairro='providencia', estado='CE'),
 Row(nome='Calebe Da Cruz', cpf='746.***.***-09', idade=54.0, data=datetime.date(1971, 10, 17), endereço='ladeira gael marques, 25', bairro='carlos prates', estado='PA'),
 Row(nome='Maysa Costa', cpf='914.***.***-33', idade=39.0, data=datetime.date(1986, 10, 14), endereço='praça silva, 4', bairro='suzana', estado='PI'),
 Row(nome='Beatriz Cardoso', cpf='760.***.***-74', idade=34.0, data=datetime.date(1990, 7, 26), endereço='vila ravi vasconcelos', bairro='vila pinho', estado='AM')]

In [ ]:
df.show()

+--------------------+--------------+-----+----------+--------------------+-------------------+------+
|                nome|           cpf|idade|      data|            endereço|             bairro|estado|
+--------------------+--------------+-----+----------+--------------------+-------------------+------+
|   Arthur Montenegro|385.***.***-80| 29.0|1995-08-31|vereda isabela al...|           pantanal|    ES|
|Sra. Ágatha Caval...|952.***.***-85| 43.0|1982-06-25|   estrada de da luz|        providencia|    CE|
|      Calebe Da Cruz|746.***.***-09| 54.0|1971-10-17|ladeira gael marq...|      carlos prates|    PA|
|         Maysa Costa|914.***.***-33| 39.0|1986-10-14|      praça silva, 4|             suzana|    PI|
|     Beatriz Cardoso|760.***.***-74| 34.0|1990-07-26|vila ravi vasconc...|         vila pinho|    AM|
| Sr. Danilo Da Cunha|136.***.***-35| 43.0|1981-10-19|    fazenda ramos, 8|coração eucarístico|    PB|
|   Melina Nascimento|196.***.***-39| 22.0|2002-10-25|      área ramos, 75|          biquinhas|    PB|
|         Yago Fogaça|124.***.***-32| 19.0|2006-09-16|     praia guerra, 1| ernesto nascimento|    PI|
|    Valentim Ribeiro|618.***.***-42| 20.0|2004-09-29|conjunto de borge...|              união|    SP|
+--------------------+--------------+-----+----------+--------------------+-------------------+------+

In [ ]:
df.printSchema()

root
 |-- nome: string (nullable = true)
 |-- cpf: string (nullable = true)
 |-- idade: float (nullable = true)
 |-- data: date (nullable = true)
 |-- endereço: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- estado: string (nullable = true)

In [ ]:
df = spark.read.option('header', 'true').csv('clientes_tratados.csv')

In [ ]:
df = spark.read.option('header', 'true').option('inferSchema', 'true').csv('clientes_tratados.csv')

In [ ]:
df = spark.read.\
    option('sep', ',').\
    option('hearder', 'true').\
    option('mode', 'DROPMALFORMED').\
    option('inferSchema', 'true').\
    csv('clientes_tratados.csv')

In [ ]:
lista_campos = [
    StructField('nome', StringType()),
    StructField('cpf', StringType()),
    StructField('idade', FloatType()),
    StructField('data', DateType()),
    StructField('endereço', StringType()),
    StructField('bairro', StringType()),
    StructField('estado', StringType())
]
schema_definido = StructType(lista_campos)

In [ ]:
df = spark.read.option('header', 'true').schema(schema_definido).csv('clientes_tratados.csv')

In [ ]:
Schema = Row('id', 'setor')
gerar_dados_novos = [
    Schema(1, 'vendas'),
    Schema(2, 'TI'),
    Schema(3, 'RH')
]

df_dados_testes_2 = spark.createDataFrame(data=gerar_dados_novos)

df_dados_testes_2.printSchema()

root
 |-- id: long (nullable = true)
 |-- setor: string (nullable = true)

In [ ]:
columns_list = [
    StructField('id', StringType()),
    StructField('setor', StringType())
]
setor_schema = StructType(columns_list)

In [ ]:
# Criação de Dados
dados_teste = [
    Row(nome='Arthur Montenegro', cpf='385.***.***-80', idade=29.0, date=date(1995, 8, 31), endereço='vereda isabela almeida, 8', bairro='pantanal', estado='ES'),
    Row(nome='Sra. Ágatha Cavalcanti', cpf='952.***.***-85', idade=43.0, date=date(1982, 6, 25), endereço='estrada de da luz', bairro='providencia', estado='CE'),
    Row(nome='Calebe Da Cruz', cpf='746.***.***-09', idade=54.0, data=date(1971, 10, 17), endereço='ladeira gael marques, 25', bairro='carlos prates', estado='PA'),
    Row(nome='Maysa Costa', cpf='914.***.***-33', idade=39.0, data=date(1986, 10, 14), endereço='praça silva, 4', bairro='suzana', estado='PI'),
    Row(nome='Beatriz Cardoso', cpf='760.***.***-74', idade=34.0, data=date(1990, 7, 26), endereço='vila ravi vasconcelos', bairro='vila pinho', estado='AM')
]

In [ ]:
df_parcial = spark.createDataFrame(data=dados_teste, schema=schema_definido)

In [ ]:
df_parcial.printSchema()

root
 |-- nome: string (nullable = true)
 |-- cpf: string (nullable = true)
 |-- idade: float (nullable = true)
 |-- data: date (nullable = true)
 |-- endereço: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- estado: string (nullable = true)

In [ ]:
df_parcial.show()

+--------------------+--------------+-----+----------+--------------------+-------------+------+
|                nome|           cpf|idade|      data|            endereço|       bairro|estado|
+--------------------+--------------+-----+----------+--------------------+-------------+------+
|   Arthur Montenegro|385.***.***-80| 29.0|1995-08-31|vereda isabela al...|     pantanal|    ES|
|Sra. Ágatha Caval...|952.***.***-85| 43.0|1982-06-25|   estrada de da luz|  providencia|    CE|
|      Calebe Da Cruz|746.***.***-09| 54.0|1971-10-17|ladeira gael marq...|carlos prates|    PA|
|         Maysa Costa|914.***.***-33| 39.0|1986-10-14|      praça silva, 4|       suzana|    PI|
|     Beatriz Cardoso|760.***.***-74| 34.0|1990-07-26|vila ravi vasconc...|   vila pinho|    AM|
+--------------------+--------------+-----+----------+--------------------+-------------+------+

In [ ]:
spark.stop()